<!doctype html>
<html lang="en">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ประกาศของฉัน</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link href="{%static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{%static 'img/logo.png'%} " width="200">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <a href="login.html" class="btn btn-outline-link" type="button">เข้าสู่ระบบ</a>
                    <a href="register.html" class="btn btn-primary" type="button">สมัครสมาชิก</a>
                    <!-- LIGHT SWITCH -->
                    <div class="d-flex">
                        <div class="form-check form-switch ms-2 mt-0 me-3">
                        <label class="form-check-label ms-3" for="lightSwitch">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            fill="currentColor"
                            class="bi bi-brightness-high"
                            viewBox="0 0 16 16"
                            >
                            <path
                                d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                            />
                            </svg>
                        </label>
                        <input class="form-check-input" type="checkbox" id="lightSwitch" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="px-3 px-sm-0">
        <div class="container border border-1 bg-white shadow px-3 px-sm-5 py-3 py-sm-5 mb-5 d-grid gap-3 rounded-5">
            <div class="box-header py-2 px-3 rounded-3">
                <h1 class="fs-2 mb-0">ประกาศของฉัน</h1>
            </div>     
            <div class="row align-items-stretch g-3">
                <div class="col-6 col-sm-3">
                    <div class="card p-1 h-100">
                        <div class="post-thumbnail">
                            <img width="100%" src="{%static 'img/picture/profile-demo.jpg' %}" alt="">
                            <div class="badges-hot">
                                <img src="img/hot.png" alt="">
                            </div>
                            <div class="thumbnail-caption py-1 px-1">
                                <div class="row g-1">
                                    <div class="col-8 text-white">
                                        <div class="row g-1">
                                            <div class="col-2">
                                                <img src="{%static 'img/verify01.png' %}" alt="">
                                            </div>
                                            <div class="col-10">
                                                <div class="card-header p-0 border-0">
                                                    <h4 class="d-inline-block fs-6 mb-0 me-1">น้ำฟ้า, 24</h4>
                                                    <span>
                                                        หญิงแท้
                                                    </span>
                                                    <span class="d-block">
                                                        กรุงเทพ , บางบอน
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 align-self-end text-end">
                                        <span class="card-price">10,500 ฿</ห>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto mt-1">
                                <img width="35" src="{%static 'img/king.png' %}" alt="">
                            </div>
                            <div class="col-auto">
                                <img width="35" src="{%static 'img/vip-label.png'%}" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <button type="button" class="btn btn-sm btn-success w-100 text-dark mb-2">กำลังแสดงประกาศ <br/> 28 วัน 3 ชั่วโมง</button>
                                <button type="button" class="btn btn-sm btn-success w-100 text-dark mb-2">ยืนยันตัวตนสำเร็จ</button>
                                <button type="button" class="btn btn-sm btn-danger w-100 text-dark">ลบประกาศ</button>
                            </div>
                        </div>
                    </div>
                </div><!--col-->
                <div class="col-6 col-sm-3">
                    <div class="card p-1 h-100">
                        <div class="post-thumbnail">
                            <img width="100%" src="{%static 'img/picture/profile-demo.jpg' %}" alt="">
                            <div class="badges-hot">
                                <img src="{%static 'img/hot.png'%}" alt="">
                            </div>
                            <div class="thumbnail-caption py-1 px-1">
                                <div class="row g-1">
                                    <div class="col-8 text-white">
                                        <div class="row g-1">
                                            <div class="col-2">
                                                <img src="{%static 'img/verify01.png'%}" alt="">
                                            </div>
                                            <div class="col-10">
                                                <div class="card-header p-0 border-0">
                                                    <h4 class="d-inline-block fs-6 mb-0 me-1">น้ำฟ้า, 24</h4>
                                                    <span>
                                                        หญิงแท้
                                                    </span>
                                                    <span class="d-block">
                                                        กรุงเทพ , บางบอน
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 align-self-end text-end">
                                        <span class="card-price">10,500 ฿</ห>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto mt-1">
                                <img width="35" src="{%static 'img/king.png' %}" alt="">
                            </div>
                            <div class="col-auto">
                                <img width="35" src="{%static 'img/vip-label.png'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div><!--col-->
                <div class="col-6 col-sm-3">
                    <div class="card p-1 h-100">
                        <div class="post-thumbnail">
                            <img width="100%" src="{%static 'img/picture/profile-demo.jpg'%}" alt="">
                            <div class="badges-hot">
                                <img src="{%static 'img/hot.png'} %" alt="">
                            </div>
                            <div class="thumbnail-caption py-1 px-1">
                                <div class="row g-1">
                                    <div class="col-8 text-white">
                                        <div class="row g-1">
                                            <div class="col-2">
                                                <img src="{%static 'img/verify01.png' %}" alt="">
                                            </div>
                                            <div class="col-10">
                                                <div class="card-header p-0 border-0">
                                                    <h4 class="d-inline-block fs-6 mb-0 me-1">น้ำฟ้า, 24</h4>
                                                    <span>
                                                        หญิงแท้
                                                    </span>
                                                    <span class="d-block">
                                                        กรุงเทพ , บางบอน
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 align-self-end text-end">
                                        <span class="card-price">10,500 ฿</ห>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto mt-1">
                                <img width="35" src="{%static 'img/king.png' %}" alt="">
                            </div>
                            <div class="col-auto">
                                <img width="35" src="{%static 'img/vip-label.png'%}" alt="">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <button type="button" class="btn btn-sm btn-primary w-100 text-dark mb-2">แพคเกจแสดงประกาศ</button>
                                <button type="button" class="btn btn-sm btn-primary w-100 text-dark mb-2">ยืนยันตัวตนสำเร็จ</button>
                                <button type="button" class="btn btn-sm btn-danger w-100 text-dark">ลบประกาศ</button>
                            </div>
                        </div>
                    </div>
                </div><!--col-->
                <div class="col-6 col-sm-3">
                    <div class="card p-1 h-100">
                        <div class="post-thumbnail">
                            <img width="100%" src="{%static 'img/picture/profile-demo.jpg' %}" alt="">
                            <div class="badges-hot">
                                <img src="img/hot.png" alt="">
                            </div>
                            <div class="thumbnail-caption py-1 px-1">
                                <div class="row g-1">
                                    <div class="col-8 text-white">
                                        <div class="row g-1">
                                            <div class="col-2">
                                                <img src="{%static 'img/verify01.png' %}" alt="">
                                            </div>
                                            <div class="col-10">
                                                <div class="card-header p-0 border-0">
                                                    <h4 class="d-inline-block fs-6 mb-0 me-1">น้ำฟ้า, 24</h4>
                                                    <span>
                                                        หญิงแท้
                                                    </span>
                                                    <span class="d-block">
                                                        กรุงเทพ , บางบอน
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 align-self-end text-end">
                                        <span class="card-price">10,500 ฿</ห>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto mt-1">
                                <img width="35" src="{%static 'img/king.png' %}" alt="">
                            </div>
                            <div class="col-auto">
                                <img width="35" src="{%static 'img/vip-label.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div><!--col-->
                
            </div>
        </div>
    </main>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" 
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="{%static 'js/script.js' %}"></script>
<script src="{%static 'js/switch.js' %}"></script>
</html>