<!doctype html>
<html lang="en">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>โปรไฟล์ของฉัน</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link href="{%static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{%static 'img/logo.png' %}" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <a href="login.html" class="btn btn-outline-link" type="button">เข้าสู่ระบบ</a>
                    <a href="register.html" class="btn btn-primary" type="button">สมัครสมาชิก</a>
                    <!-- LIGHT SWITCH -->
                    <div class="d-flex">
                        <div class="form-check form-switch ms-2 mt-0 me-3">
                        <label class="form-check-label ms-3" for="lightSwitch">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            fill="currentColor"
                            class="bi bi-brightness-high"
                            viewBox="0 0 16 16"
                            >
                            <path
                                d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                            />
                            </svg>
                        </label>
                        <input class="form-check-input" type="checkbox" id="lightSwitch" />
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="px-3 px-sm-0">
        <div class="container border border-1 bg-white shadow px-3 px-sm-5 py-3 py-sm-5 mb-5 d-grid gap-3 rounded-5">
            <div class="row mb-4">
                <div class="col-12 col-sm-6 px-4 mb-4">
                    <div class="d-block d-sm-none text-center">
                        <p style="font-size: .65rem;">พบเห็นการแอบอ้างใช้ภาพผู้อื่น สามารถกดรายงานในหน้าโปรไฟล์ได้ทันที</p>
                    </div>
                    <div id="carouselExampleIndicators" class="carousel slide mb-2">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{%static 'img/picture/profile1.png' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{%static 'img/picture/profile1.png' %}" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{%static 'img/picture/profile1.png' %}" class="d-block w-100" alt="...">
                          </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 col-sm-auto">
                            <button class="p-0 border-0" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                                <img class="rounded-3" width="100" src="{%static 'img/picture/profile1.png' %}" alt="">
                            </button>
                        </div>   
                        <div class="col-4 col-sm-auto">
                            <button class="p-0 border-0" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                                <img class="rounded-3" width="100" src="{%static 'img/picture/profile1.png' %}" alt="">
                            </button>
                        </div>
                        <div class="col-4 col-sm-auto">
                            <button class="p-0 border-0" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
                                <img class="rounded-3" width="100" src="{%static 'img/picture/profile1.png' %}" alt="">
                            </button>
                        </div>                   
                    </div>
                </div>
                <div class="col-12 col-sm-6 px-4">
                    <div class="row justify-content-between mb-4">
                        <div class="col-auto">
                            <h1 class="fs-3 text-primary">
                                ชีต้าร์
                            </h1>
                        </div>
                        <div class="col-auto">
                            <button class="bg-white border-0 p-0 mx-1 text-center" type="button">
                                <div class="rounded-circle mx-auto" style="background: #D595FE;width: 25px;height: 25px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#855DFF" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                                        <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
                                    </svg>
                                </div>
                                <small class="fw-light">รายงาน</small>
                            </button>
                            <button class="bg-white border-0 p-0 mx-1" type="button">
                                <div class="rounded-circle mx-auto" style="background: #D595FE;width: 25px;height: 25px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#855DFF" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </div>
                                <small class="fw-light">เก็บไว้</small>
                            </button>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <p class="d-inline-block me-3 mb-1">
                                <i class="bi bi-check-circle-fill me-1 text-info"></i>
                                ยืนยันตัวตนแล้ว
                            </p>
                            <p class="d-inline-block mb-1">
                                <i class="bi bi-check-circle-fill me-1 text-primary"></i>
                                ยืนยันใบหน้าแล้ว
                            </p>
                        </div>
                        <div class="col-4">
                            <p class="mb-1">
                                เริ่มต้น 10,500 ฿
                            </p>
                        </div>
                        <div class="col-8">
                            <p class="mb-1">
                                กรุงเทพ , บางนา - สมุทรปราการ
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="mb-1">หญิง อายุ 27 ปี</p>
                            <p class="mb-1">สัดส่วน 36-28-38 สูง 167 หนัก 59</p>
                        </div>
                    </div>
                    <div class="row align-items-end mb-4">
                        <div class="col-6">
                            <a href="">
                                <img height="35" src="{%static 'img/line.png' %}" alt="">
                            </a>
                        </div>
                        <div class="col-6 text-end">
                            <small class="d-block">แชร์เลย</small>
                            <div class="d-flex justify-content-end" style="gap: 5px;">
                                <i class="bi bi-telegram" style="color: #1976D2;"></i>
                                <i class="bi bi-twitter" style="color: #1DA1F2;"></i>
                                <i class="bi bi-messenger" style="color: #2288F5;"></i>
                                <i class="bi bi-line" style="color: #00B900;"></i>
                            </div>                            
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-12">
                            <h5>รายละเอียด</h5>
                            <p>
                                ⚠️บริการ ⚠️ดูดนม⚠️เลียจิมิ๊ได้ เลียไข่ ⚠️เอาท่า 69 ได้ อมสดได้ถ้าพี่ไม่มีกลิ่น จุ๊บได้💋 <br/>
                                ⚠️ข้อห้าม ไม่รับขอทำทุกชนิด ไม่รับคนเมา คนอัพยา ไม่สดไม่ก้น ไม่แตกตามร่างกาย ขอคนสะอาดสุภาพ🙏🏻♥️  <br/>
                                ⚠️ ราคารวมห้องรวมถุง ⚠️ <br/>
                                จ่ายค่างาน ก่อนขึ้นงานนะคะ ,รับโอนและเงินสด💸  <br/>
                                白皮肤，不胖，健谈，风趣的女人，纹身。 <br/>
                                🇹🇭🇨🇳🇬🇧👌⚠️คำเตือน ไม่ใช่สายอ้อน <br/>
                                [ถ้าไม่โอเคไม่ต้องแอดมา] <br/>
                                หน้าอกทำ นิ่มมาก boob job 整形外科 <br/>
                                ⚠️ have tattoos 有纹身 มีรอยสัก <br/>
                                157cm/49kilo D/26/35 อวบ,ไม่อ้วน, ผิวขาว <br/>
                                No kids , 我没有孩子,ไม่เคยมีลูก ,white skin <br/>
                                肤色=白，不胖，善于说话 , <br/>
                                พูดไทย,จีน,อังกฤษ, white skin <br/>
                                🤑price for sex  <br/>
                                ลูกค้าเก่าใช้ราคาเดิมได้คะ <br/>
                                เดินงานตามเวลาและจบงานตามเวลาที่เริ่ม <br/>
                                [ กรุณาส่งรูปถ่ายตัวตน งั้นไม่รับงาน ] <br/>
                                # คอนโดติดBTSสถานีแยกติวานน <br/>
                                1,500💰40min  1sex 💧  <br/>
                                1,900💰1h  1sex 💧 <br/>
                                3,500 💰90min 2 sex 💧 <br/>
                                3,700💰2h 2sex 💧  <br/>
                                5,900💰3h 2sex 💧  <br/>
                                7,900💰4h 2sex 💧  <br/>
                                🌾👄💧แตกปาก+1,000 <br/>
                                🌾😽💧แตกหน้า+1,000 <br/>
                                Over Night/ค้าง😴 13,000💰  <br/>
                                8,9 ชม h 3-4sex
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row mb-4">
                <div class="col-12">
                    <h5>น้องอยู่แถวไหน</h5>
                    <div class="position-relative">
                        <img class="w-100 d-block" src="{%static 'img/profile-map.png' %}" alt="">
                        <div class="">
                            <a href="#" class="btn btn-registermap border-0">
                                สมัครเพื่อใช้งานแผนที่
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <h5>ส่งการบ้าน</h5>
                    <!-- LIST COMMENT -->
                    <div class="row mb-3">
                        <div class="col-3 col-sm-1">
                            <div class="avatar-circle">
                                <!-- AVATAR -->
                                <!-- <img src="img/picture/profile1.png" alt=""> -->
                            </div>
                        </div>
                        <div class="col-9 col-sm-11">
                            <h6>
                                ชื่อที่แสดงของคอมเม้นต์
                            </h6>
                            <small>วันที่/เวลา</small>
                            <p>
                                สกบ น้องจีน่าสาวเชียงรายคับ
                                ก่อนหน้าน้องเค้าอยู่เรท900 40นาทีครับ ตอนนี้น้องเค้าเริ่มขึ้นมาเล่นตลาดบนแล้วครับ5555
                                น้องหน้าตาน่ารักนะครับ แต่ผิวจะออกแทนคับ
                                รูปร่างผอมๆบางๆนะครับ
                                ข้อเสียของน้องจะมีจุดเดียวครับคือไฟหน้า
                                จะเป็นไข่ดาวครับ
                                แต่เนื้องาน
                                สกบ น้องจีน่าสาวเชียงรายคับ
                                ก่อนหน้าน้องเค้าอยู่เรท900 40นาทีครับ ตอนนี้น้องเค้าเริ่มขึ้นมาเล่นตลาดบนแล้วครับ5555
                                น้องหน้าตาน่ารักนะครับ แต่ผิวจะออกแทนคับ
                                รูปร่างผอมๆบางๆนะครับ
                                ข้อเสียของน้องจะมีจุดเดียวครับคือไฟหน้า
                                จะเป็นไข่ดาวครับ
                                แต่เนื้องาน
                            </p>
                            <div class="row gy-4">
                                <div class="col-auto">
                                    <img class="rounded-3" height="150" src="{%static 'img/picture/profile1.png' %}" alt="">
                                </div>
                                <div class="col-auto">
                                    <img class="rounded-3" height="150" src="{%static 'img/picture/profile1.png' %}" alt="">
                                </div>
                                <div class="col-auto">
                                    <img class="rounded-3" height="150" src="{%static 'img/picture/profile1.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3 col-sm-1">
                            <div class="avatar-circle">
                                <!-- AVATAR -->
                                <!-- <img src="img/picture/profile1.png" alt=""> -->
                            </div>
                        </div>
                        <div class="col-9 col-sm-11">
                            <h6>
                                ชื่อที่แสดงของคอมเม้นต์
                            </h6>
                            <small>วันที่/เวลา</small>
                            <p>
                                สกบ น้องจีน่าสาวเชียงรายคับ
                                ก่อนหน้าน้องเค้าอยู่เรท900 40นาทีครับ ตอนนี้น้องเค้าเริ่มขึ้นมาเล่นตลาดบนแล้วครับ5555
                            </p>
                            <div class="row gy-4">
                                <div class="col-auto">
                                    <img class="rounded-3" height="150" src="{%static 'img/picture/profile1.png' %} " alt="">
                                </div>
                                <div class="col-auto">
                                    <img class="rounded-3" height="150" src="{%static 'img/picture/profile1.png' %}" alt="">
                                </div>
                                <div class="col-auto">
                                    <img class="rounded-3" height="150" src="{%static 'img/picture/profile1.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
            </nav>
            <div class="row mb-4">
                <div class="col-12">
                    <div class="from-control mb-3">
                        <textarea class="form-control" placeholder="" id="floatingTextarea" rows="5"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">ส่งการบ้าน</button>
                    </div>
                </div>
            </div>
            <div class="row mb-4 overflow-hidden">
                <h5>น้องใกล้เคียง</h5>
                <div class="owl-carousel owl-theme">
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                    <div class="item"><img src="{%static 'img/picture/profile1.png' %}" alt=""></div>
                </div>
            </div>
        </div>
    </main>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" 
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" 
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        responsive:{
            0:{
                items:3
            },
            600:{
                items:4
            },
            1000:{
                items:6
            }
        }
    })
    // $(document).ready(function(){
    // $('.owl-carousel').owlCarousel();
    // });
</script>

<script src="{%static 'js/script.js' %}"></script>
<script src="{%static 'js/switch.js' %}"></script>
</html>