<!doctype html>
<html lang="en">
{% load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>สมัครสมาชิก</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link href="{%static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{%static 'img/logo.png' %}" width="200">
                    <!-- <img src="https://drive.google.com/uc?id=1obKOJHnuAsSjtmnYKPBxbpT857r_Ae4q" width="200"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <a href="login.html" class="btn btn-outline-link" type="button">เข้าสู่ระบบ</a>
                    <a href="register.html" class="btn btn-primary" type="button">สมัครสมาชิก</a>
                </div>
            </div>
        </nav>
    </header>

    <main class="px-3 px-sm-0">
        <div class="container border border-1 bg-white shadow px-3 px-sm-5 py-3 mb-5 pb-5 d-grid gap-3 rounded-5">
            <h3 class="text-center my-5">ลงทะเบียน</h3>
            <div class=" m-auto">
                <div class="mb-3">
                    <input class="form-control form-control-lg rounded-5" type="username"
                        placeholder="ชื่อผู้ใช้งาน" aria-label="Username">
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg rounded-5" type="password" placeholder="รหัสผ่าน"
                        aria-label="Username">
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg rounded-5" type="password"
                        placeholder="ยืนยันรหัสผ่าน" aria-label="Username">
                </div>
                <div class="form-check mx-3 mt-5 fs-5">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label mx-3" for="flexRadioDefault1">
                        สมัครเป็นนักท่องเที่ยวหาเพื่อน
                    </label>
                </div>
                <div class="form-check mx-3 mt-2 fs-5">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label mx-3" for="flexRadioDefault1">
                        สมัครเพื่อลงประกาศ
                    </label>
                </div>
                <div class="form-check mx-3 mt-4 fs-5">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label mx-3" for="flexCheckDefault">
                        ยอมรับว่า อายุ 20 ปีบริบูรณ์ขึ้นไป
                    </label>
                </div>

                <div id="policy" style="height:600px;width:425px;overflow:auto;background-color:rgb(227, 206, 239);color:black;scrollbar-base-color:gold;padding:10px">
                    <p class="text-center fs-2 mt-5">เงื่อนไขการใช้เว็บไซต์ของเรา</p>
                    <p>1. การตกลงยอมรับข้อกำหนดและเงื่อนไขฯ</p> 
                    <p>1.1 ผู้ใช้งานต้องมีอายุมากกว่า 20 ปีบริบูรณ์ขึ้นไป</p>
                    <p>1.2 ไม่อนุญาติให้มีการค้าประเวณี เว็ปไซต์เป็นเพียงพื้นที่ให้ทุกคนนัดพบ ทำความรู้จักกันตามต้องการเท่านั้น</p>
                    <p>1.3 การยืนยันตัวตนของน้องทุกคน จะผ่านการคัดกรองของฝ่ายที่ดูแลโดยเฉพาะ ห้ามมิให้ใช้รูปบุคคลอื่น</p>
                    <p>1.4 ห้ามไม่ให้มีการชำระเงิน หรือวางมัดจำ ทุกกรณี หากเกิดความเสียหายและมีความผิดทางกฎหมายทั้งทางตรงและทางอ้อม ทางเว็ปไซต์จะไม่ต้องรับผิดชอบต่อความเสียหายที่เกิดขึ้น และ ไม่มีส่วนเกี่ยวข้องกับความผิดดังกล่าวทุกกรณี</p>
                    <p>1.5 (ห้ามขายบริการทางเพศ ห้ามค้าประเวณี)</p>
                    <p>2. การตกลงยอมรับข้อกำหนดและเงื่อนไขฯ</p>
                    <p>2.1 ผู้ใช้ทุกรายจะต้องใช้บริการฯ ตามข้อกำหนดที่ระบุไว้ในข้อกำหนดและเงื่อนไขฯ ผู้ใช้จะไม่สามารถใช้บริการฯ ได้เว้นเสียแต่ว่า ผู้ใช้ได้ตกลงยอมรับข้อกำหนดและเงื่อนไขฯ การตกลงยอมรับดังกล่าวมีผลสมบูรณ์และเพิกถอนมิได้</p>
                    <p>2.2 ผู้เยาว์สามารถใช้บริการฯ ได้ต่อเมื่อได้รับความยินยอมจากบิดามารดาหรือผู้ปกครองตามกฎหมายเท่านั้น นอกจากนี้ หากผู้ใช้ใช้บริการฯ แทน หรือ เพื่อวัตถุประสงค์ขององค์กรธุรกิจใดๆ จะถือว่า องค์กรธุรกิจดังกล่าวได้ตกลงยอมรับข้อกำหนดและเงื่อนไขฯ นี้ด้วยแล้ว การตกลงยอมรับดังกล่าวมีผลสมบูรณ์และเพิกถอนมิได้</p>
                    <p>2.3 การที่ผู้ใช้ใช้บริการฯ ถือว่า ผู้ใช้ได้ตกลงยอมรับข้อกำหนดและเงื่อนไขฯ การตกลงยอมรับดังกล่าวมีผลสมบูรณ์และเพิกถอนมิได้</p>
                    <p>2.4 หากมีข้อกำหนดและเงื่อนไขฯ เพิ่มเติมสำหรับบริการฯ ผู้ใช้จะต้องปฏิบัติตามข้อกำหนดและเงื่อนไขฯ เพิ่มเติมนั้นด้วยเช่นเดียวกับข้อกำหนดและเงื่อนไขฯ นี้</p>
                    <p>3. ข้อจำกัด</p>
                    <p>ผู้ใช้จะต้องไม่มีส่วนร่วมในกิจกรรมต่างๆ ดังต่อไปนี้เมื่อใช้บริการฯ</p>
                    <p>3.1 กิจกรรมที่ฝ่าฝืนกฎหมาย คำพิพากษา มติหรือคำสั่งศาล หรือมาตรการทางปกครองที่มีผลผูกพันทางกฎหมาย</p>
                    <p>3.2 การใช้เนื้อหาที่รุนแรงและโจ่งแจ้ง หรือการทำให้ผู้อื่นอับอาย เนื้อหาที่มีความรุนแรงโหดร้ายและความไม่เห็นอกเห็นใจ โดยเฉพาะเนื้อหาที่มุ่งทำร้ายผู้ที่ตกเป็นเหยื่อของความรุนแรงทางร่างกายหรือจิตใจ</p>
                    <p>3.3 ภาพโป๊เปลือย กิจกรรมทางเพศ การแสดงหาประโยชน์ทางเพศ และการขายบริการทางเพศ</p>
                    <p>3.4 เนื้อหาที่แสดง ส่งเสริม หรือข่มขู่เกี่ยวกับความรุนแรงทางเพศ การกระทำชำเรา หรือการแสวงหาผลประโยชน์ทางเพศ</p>
                    <p>3.5 การฟลัดหน้ากระดานคอมเม้นต์เพื่อก่อนกวนผู้เล่นคนอี่น</p>
                    <p>3.6 กิจกรรมที่ละเมิดสิทธิ เช่น ความเป็นส่วนตัว และสิทธิความเป็นส่วนตัวของรูปภาพ คุณไม่ควรโพสต์ข้อมูลส่วนตัวหรือความลับของผู้อื่นโดยไม่ได้รับความยินยอมจากบุคคลดังกล่าวก่อน</p>
                    <p>3.7 คุณไม่สามารถเข้าถึงหรือเก็บข้อมูลจากบริการของเราโดยใช้วิธีอัตโนมัติ (โดยไม่ได้รับสิทธิ์การอนุญาตล่วงหน้าจากเรา) หรือพยายามเข้าถึงข้อมูลที่คุณไม่ได้รับสิทธิ์การอนุญาตให้เข้าถึงได้</p>
                    <p>3.8 กิจกรรมที่อาจทำให้ผู้อื่นเข้าใจผิดเกี่ยวกับบริษัทฯ และ/หรือบุคคลภายนอก หรือการจงใจเผยแพร่ข้อมูลเท็จ</p>
                    <p>3.9 กิจกรรมต่างๆ เช่น การส่งข้อความโดยการสุ่มไปให้แก่ผู้ใช้จำนวนมาก (ยกเว้นข้อความที่ได้รับความเห็นชอบจากบริษัทฯ หรือกิจกรรมอื่นใดที่บริษัทฯ ถือว่าเป็นการส่งข้อความรบกวน (spamming)</p>
                    <p>3.10 กิจกรรมที่มีการใช้บริการฯ เพื่อการขาย การตลาด โฆษณา การชักชวน หรือวัตถุประสงค์ทางการค้าอื่นๆ (ยกเว้นวัตถุประสงค์ที่ได้รับความเห็นชอบจากบริษัทฯ) กิจกรรมที่มีการใช้บริการฯ เพื่อการกระทำทางเพศหรือการกระทำที่อนาจาร กิจกรรมที่มีการใช้บริการฯ เพื่อวัตถุประสงค์ในการพบบุคคลเพื่อการมีเพศสัมพันธ์ กิจกรรมที่ใช้บริการฯ เพื่อวัตถุประสงค์ในการคุกคาม หรือการหมิ่นประมาทผู้ใช้รายอื่นๆ หรือกิจกรรมที่ใช้บริการฯ เพื่อวัตถุประสงค์อื่นๆ ที่มิใช่จุดประสงค์ที่แท้จริงของบริการฯ</p>
                    <p>3.11 กิจกรรมที่แทรกแซงเครื่องแม่ข่าย และ/หรือระบบเครือข่ายของบริการฯ กิจกรรมซึ่งเป็นการใช้บริการฯ ในทางที่ผิดด้วยการใช้บ็อท (BOTs) เครื่องมือเพื่อการโกง หรือวิธีการทางเทคนิคอื่นๆ กิจกรรมที่ใช้ข้อบกพร่องของบริการฯ โดยไตร่ตรองไว้ก่อน กิจกรรมที่ทำการสอบถามอย่างไม่สมควร และ/หรือสิทธิเรียกร้องที่ไม่ควรได้ เช่น การถามคำถามเดียวกันซ้ำๆ เกินความจำเป็น และกิจกรรมที่แทรกแซงการให้บริการฯ ของบริษัท หรือการใช้บริการฯ ของผู้ใช้</p>
                    <p>3.12 กิจกรรมที่ให้ความช่วยเหลือหรือส่งเสริมกิจกรรมใดๆ ที่ระบุไว้ในข้อ 1 ถึงข้อ 12 ข้างต้น</p>
                    <p>3.13 กิจกรรมอื่นๆ ที่บริษัทฯ เห็นว่าไม่เหมาะสม</p>
                    <p>4. บัญชี</p>
                    <p>4.1 เมื่อผู้ใช้ให้ข้อมูลเกี่ยวกับตนเองแก่บริษัทฯ ผู้ใช้จะต้องให้ข้อมูลที่เป็นจริง ถูกต้องและครบถ้วนในขณะที่ใช้บริการฯ และปรับปรุงข้อมูลดังกล่าวให้เป็นปัจจุบันอยู่ตลอดเวลา</p>
                    <p>4.2 หากผู้ใช้ลงทะเบียนรหัสผ่านในขณะที่ใช้บริการฯ ผู้ใช้จะต้องใช้ความระมัดระวังและมีความรับผิดชอบตามสมควรเพื่อไม่ให้มีการใช้รหัสผ่านในลักษณะที่ไม่ชอบด้วยกฎหมาย บริษัทฯ สามารถถือว่ากิจกรรมต่างๆ ที่ดำเนินการโดยใช้รหัสผ่านดังกล่าว เป็นกิจกรรมที่ผู้เป็นเจ้าของรหัสผ่านได้ดำเนินการด้วยตนเอง</p>
                    <p>4.3 ผู้ใช้งานที่จดทะเบียนใช้บริการฯ สามารถลบบัญชีของตนและเลิกใช้บริการฯ ได้ ไม่ว่าในเวลาใดๆ ก็ตาม</p>
                    <p>4.4 บริษัทฯ อาจระงับหรือลบบัญชีของผู้ใช้ได้โดยไม่ต้องให้คำบอกกล่าวล่วงหน้าแก่ผู้ใช้ หากบริษัทฯ เห็นว่าผู้ใช้กำลังละเมิดหรือได้ละเมิดข้อกำหนดและเงื่อนไขฯ</p>
                    <p>4.5 บริษัทฯ สงวนสิทธิที่จะลบบัญชีใดๆ ที่ไม่มีการเปิดใช้งานเป็นเวลา 1 ปีหรือนานกว่านั้นนับตั้งแต่วันที่มีการเปิดใช้งานบัญชีดังกล่าวครั้งล่าสุด โดยไม่ต้องให้คำบอกกล่าวล่วงหน้าใดๆ แก่ผู้ใช้</p>
                    <p>4.6 สิทธิที่จะใช้บริการของผู้ใช้จะสิ้นสุดลงเมื่อมีการลบบัญชีของผู้ใช้ไม่ว่าด้วยเหตุผลใดๆ ก็ตาม บัญชีจะไม่สามารถกู้คืนมาได้แม้ว่าผู้ใช้จะลบบัญชีของตนโดยไม่ได้ตั้งใจก็ตาม และบริษัทฯ ขอให้ผู้ใช้ตระหนักถึงเรื่องนี้ด้วย</p>
                    <p>4.7 บัญชีแต่ละบัญชีในบริการฯ มีไว้เพื่อการใช้งานเฉพาะและเป็นของเจ้าของบัญชีแต่เพียงผู้เดียวเท่านั้น ผู้ใช้ไม่สามารถโอนหรือให้ยืมบัญชีของตนแก่บุคคลภายนอกใดๆ และบุคคลภายนอกใดๆ ไม่สามารถรับช่วงบัญชีจากผู้ใช้ได้</p>
                    <p>5. ความรับผิดชอบของผู้ใช้</p>
                    <p>5.1 ผู้ใช้จะต้องใช้บริการฯ นี้โดยเป็นความเสี่ยงของผู้ใช้เอง และจะต้องรับผิดชอบแต่เพียงผู้เดียวสำหรับการกระทำที่กระทำไปและผลของการกระทำที่มีต่อบริการฯ นี้</p>
                    <p>5.2 บริษัทฯ อาจใช้มาตรการที่บริษัทฯ เห็นว่าจำเป็นและเหมาะสมได้ หากบริษัทฯ รับทราบว่าผู้ใช้รายหนึ่งรายใดกำลังใช้บริการฯ ในทางที่ฝ่าฝืนข้อกำหนดและเงื่อนไขฯ อย่างไรก็ตาม บริษัทฯไม่ต้องรับผิดชอบในการแก้ไขหรือป้องกันการฝ่าฝืนดังกล่าวต่อผู้ใช้หรือบุคคลอื่นๆ</p>
                    <p>5.3 ในกรณีที่เกิดความสูญเสีย/ความเสียหายแก่บริษัทฯ หรือบริษัทฯ ถูกเรียกเก็บค่าใช้จ่ายใดๆ (ซึ่งรวมถึงโดยไม่จำกัดเพียงค่าทนายความ) ไม่ว่าโดยตรงหรือโดยอ้อม (ซึ่งรวมถึงโดยไม่จำกัดเพียงกรณีที่มีบุคคลภายนอกฟ้องร้องเรียกค่าเสียหายจากบริษัทฯ) อันเนื่องมาจากการที่ผู้ใช้ฝ่าฝืนกฎหมายที่เกี่ยวข้องหรือข้อกำหนดและเงื่อนไขฯ ในขณะที่ใช้บริการฯ ผู้ใช้จะต้องชดใช้ค่าเสียหายให้แก่บริษัทฯ ทันทีที่บริษัทฯ ร้องขอ</p>
                    <p>6. การยกเว้นความรับผิดของบริษัทฯ</p>
                    <p>6.1 บริษัทฯ ไม่รับประกันไม่ว่าโดยชัดแจ้งหรือโดยปริยายว่า บริการฯ (ซึ่งรวมถึงเนื้อหาฯ) จะปราศจากข้อบกพร่องตามจริงหรือตามกฎหมาย (ซึ่งรวมถึงแต่ไม่จำกัดเพียง เสถียรภาพ การไว้วางใจได้ ความถูกต้อง ความสมบูรณ์ การมีประสิทธิผล ความเหมาะสมในการใช้เพื่อวัตถุประสงค์เฉพาะ ข้อบกพร่อง ข้อผิดพลาด จุดบกพร่องที่เกี่ยวกับความปลอดภัย (bug) หรือการละเมิดสิทธิต่างๆ) และบริษัทฯ ไม่มีความรับผิดชอบในการที่จะต้องจัดหาบริการฯ ที่ไม่มีข้อบกพร่องดังกล่าว</p>
                    <p>6.2 บริษัทฯ จะไม่ต้องรับผิดชอบต่อค่าเสียหายใดๆ ที่เกิดขึ้นกับผู้ใช้อันเกี่ยวกับการใช้บริการฯ</p>
                </div>

                <div class="form-check mx-3 mt-5 text-center">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        ยินยอม ข้อตกลงและเงื่อนไขการใช้เว็ปไซต์
                    </label>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary btn-lg mt-3 m-auto" type="button">สมัครสมาชิก</button>
                </div>
            </div>
        </div>
    </main>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

<script src="{%static 'js/script.js' %}"></script>

</html>